@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* (active input border)*/
  --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  /*(input errors) */
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish: hsl(270, 3%, 87%);
  --dark-grayish: hsl(279, 6%, 55%);
  --very-dark: hsl(278, 68%, 11%);
}

body {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
}

.card-div {
  padding: 1rem;
  background: url("images/bg-main-mobile.png");
  position: relative;
  background-size: cover;
  height: 224px;
  color: #fff;
  margin-bottom: 5.2rem;
}

.card1 {
  width: 76%;
  position: absolute;
  left: 75px;
  top: 32px;
}
.card-div__top {
  position: relative;
}
.card-div__zeros {
  position: absolute;
  top: 101px;
  left: 296px;
  font-size: 12px;
}
.card-div__bottom {
  position: relative;
}

.card2 {
  width: 83%;
  position: absolute;
  top: 104px;
}

.card-details-front {
  position: absolute;
  top: 184px;
  left: 14px;
}
.card-div__bottom-name-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  width: 260px;
  font-size: 12px;
}
.card-div__bottom-name {
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 2px;
}
.spacing {
  letter-spacing: 2px;
  display: inline-block;
  margin-right: 6px;
}

.card-div__white-cy {
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  height: 30px;
  width: 30px;
  top: -56px;
  left: 6px;
}
.card-div__transparent-cy {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #fff;
  height: 14px;
  width: 14px;
  top: -48px;
  left: 46px;
}

form[novalidate] {
  padding: 1rem 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
fieldset {
  border: none;
}

label {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 6px;
}

.card-details__name {
  padding: 0.9rem;
  border-radius: 6px;
  border: 1px solid hsl(270, 3%, 87%);
  width: 100%;
  margin-bottom: 16px;
}
.card-details__number {
  padding: 0.9rem;
  border-radius: 6px;
  border: 1px solid hsl(270, 3%, 87%);
  width: 100%;
  margin-bottom: 16px;
}

*::placeholder {
  font-size: 18px;
  color: #cfcdd1;
  letter-spacing: 1px;
  font-weight: bold;
}

/* input field for month/year */
#exp-month,
#exp-year,
#cvc-number {
  width: 75px;
  padding: 0.9rem;
  border-radius: 6px;
  border: 1px solid hsl(270, 3%, 87%);
  margin-right: 8px;
}
#cvc-number {
  width: 154px;
  margin-right: 0;
}

label[for="cvc-number"] {
  margin-left: 2rem;
}

.btn-confirm {
  width: 100%;
  color: #fff;
  background-color: var(--very-dark);
  padding: 1.2rem 0.5rem;
  display: block;
  margin-top: 24px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Desktop CSS style here ------------------ */

@media (min-width: 1024px) {
  html {
    height: 100%;
  }
  main {
   display: flex;
   height: 120vh;
  }
  .card-div {
    width: 482px;
    height: 100%;
  }
  .card1 {
    width: 93%;
    position: absolute;
    left: 258px;
    top: 470px;
}
  
}